   <% provide(:title, 'Sign up') %>
<text align ='center'><h1> User Registration</h1></text>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(@user) do |f| %>
   <% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


  <div style="width: 150%;">
  <div style="float:left; width: 30%">
  
  <div class="field">                                                 
    <%= f.label :name %>
     <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :enrollment_number, "Enrollment number" %>
    <%= f.text_field :enrollment_number %>
  </div>
  <div class="field">
    <%= f.label :email %>
     <%= f.email_field :email%>

  </div>
  <div class="field">
    <%= f.label :phone_number,"Phone number" %>
    <%= f.text_field :phone_number %>
  </div>
   
   
  </div>
  <div style="float:left;width: 30%">
  <div class="field">
   <div class="field">
   <div class="field"> 
   <%= f.label :password %>
      <%= f.password_field :password %>
</div>
   <div class="field">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      </div>
    <%= f.label :date_of_birth,"Date of birth" %>
    <%= f.text_field :date_of_birth%>
  </div>
    <%= f.label :percentage_class_tenth,"Percentage of class tenth" %>
    <%= f.text_field :percentage_class_tenth %>
  </div>
    
  <div class="field">
    <%= f.label :percentage_class_twelfth,"Percentage of class twelfth"%>
    <%= f.text_field :percentage_class_twelfth %>
  </div>
 
   
   
  </div>
  <div style="float:right;width: 30%">
  <div class="field">
<div class="field">
    <%= f.label :degree,"Degree" %>
     <%= f.select :degree, [['M.Tech','m.tech'],['MCA','mca'],['B.E','b.e']]%>
      
  </div>
   
  <div class="field">
    <%= f.label :current_sgpa,"Current SGPA" %>
    <%= f.text_field :current_sgpa %>
  </div>
   
    <div class="field">
    <%= f.label :current_log,"Current back log" %> 
     <%= f.select :current_log,[['0','0'], ['1','1'], ['More than 1','more_than_1']]%>
  </div>
     <div class="field">
    <%= f.label :cgpa,"CGPA"%>
    <%= f.text_field :cgpa %>
  </div>
   
  <div class="actions">
    <%= f.submit  "Create my account", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
</div>
</div>


<div style="clear:both"></div>